body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  overflow: overlay;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

[src$=".jpg"] {
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-corner {
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--cor-p2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--cor-p3);
}
